body{
    background-color: #344a72;
    font-family: sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
}
input[type=button]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color:white;
    font-size: 15px;
    cursor: pointer;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para2 a{
    color: turquoise;
}
.para2 a:hover{
    color: yellow;
}
a:visited{
    color: purple;
}
.btn:hover{
    color: orange;
    cursor: pointer;

}